= form_for @new_feed, :html => {:class => 'form-horizontal', :role => 'form' } do |f|
  .form-group
    %label.col-sm-2.control-label URL
    .col-sm-10{:class => ('has-error' if @errors[:url].count > 0)}
      = f.text_field :url, :placeholder => 'Url', :class => 'form-control'
      - if @errors[:url].count > 0
        - @errors[:url].each do |msg|
          %span.help-block= msg
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Ajouter', :class => 'btn btn-success'