%ol.breadcrumb
  %li=link_to 'Home', root_path
  %li.active= @feed.custom_name(current_user)

- @items.each do |item|
  = render 'items/item', :item => item, :feed => @feed

.row
  .col-md-12
    .text-center
      = page_navigation_links @items