%ol.breadcrumb
  %li=link_to 'Home', root_path
  %li=link_to @user_feed.name, feed_path(@user_feed.feed)
  %li.active Editer le flux


=form_for @user_feed, url: {action: 'update', controller: 'user_feeds', :id => @user_feed.feed_id}, method: 'patch', :html => {:class => 'form-horizontal', :role => 'form'} do |f|
  .form-group
    %label.col-sm-2.control-label{:for => 'url'} Url
    .col-sm-10
      %input.form-control{:type => 'text', :disabled => 'disabled', :value => @user_feed.feed.url}
  .form-group{:class => ('has-error' if ! @errors.nil? && @errors[:name].count > 0)}
    =f.label :name, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
      - if !@errors.nil? && @errors[:name].count > 0
        - @errors[:name].each do |msg|
          %span.help-block= msg

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Enregistrer', :class => 'btn btn-success'