@import "variables"

.feed
  margin-bottom: 15px
  padding: 20px
  background-color: $lightBackground
  border: 1px #D2D5D6 solid
  min-height: 75px

  &.unread
    background-color: darken($lightBackground, 5)
    border-color: darken(#D2D5D6, 5)

  .name
    background-color: #f1c40f
    display: inline-block
    padding: 2px 4px
    border-radius: 5px
  .title

  .actions
    a
      font-weight: lighter
      color: darken(#7f8c8d, 40)
  .item-content
