.feed.js-display-action{:class => ('unread' unless current_user.items.include? item)}
  .row
    .col-md-3
      .name
        - if feed.name.size > 45
          =feed.name[0..45]
          = "..."
        -else
          =feed.name
    .col-md-7
      = link_to item.title, item.url, {:class => 'title'}
    .col-md-2.actions.hide
      %ul.list-unstyled.list-inline
        %li
          =l item.published_at, format: :short
        %li
          %a.js-show-content{:href => '#', 'data-action' => 'show', 'data-feed' => feed.id, 'data-item' => item.id, 'data-item-fetched' => false}
            %span.glyphicon.glyphicon-plus
        %li
          %a{:href => item.url}
            %span.glyphicon.glyphicon-share
          %li
            =link_to read_feed_item_path(:feed_id => feed.id, :id => item.id) , :method => :post do
              %span.glyphicon.glyphicon-ok
  .row.content.hide
