.feed.js-display-action{:class => ('unread' unless @user_read_items.include? item)}
  .row
    .col-md-3
      .name
        - if item.feed.name.size > 45
          =item.feed.name[0..45]
          = "..."
        -else
          =item.feed.name
    .col-md-7
      = link_to item.title, item.url, {:class => 'title'}
    .col-md-2.actions.hide
      %ul.list-unstyled.list-inline
        %li
          =l item.published_at, format: :short
        %li
          %a.js-show-content{:href => '#', 'data-action' => 'show', 'data-feed' => item.feed.id, 'data-item' => item.id}
            %span.glyphicon.glyphicon-plus
        %li
          %a{:href => item.url}
            %span.glyphicon.glyphicon-share
          %li
            =link_to read_feed_item_path(:feed_id => item.feed.id, :id => item.id) , :method => :post do
              %span.glyphicon.glyphicon-ok
  .row.content.hide
    .col-md-12.item-content
      %p!= item.description
      %p!= item.content
    /%br
    -unless item.enclosure_url.nil?
      .col-md-12
        %img.img-thumbnail{:src => item.enclosure_url}
