%ol.breadcrumb
  %li=link_to 'Home', root_path
  %li=link_to 'Mes catégories de flux', categories_path
  %li.active Editer la catégorie


=link_to 'Supprimer la categorie', category_path(@category), :class => 'btn btn-danger', :method => :delete

=form_for @category, url: {action: 'update', controller: 'categories', :id => @category}, method: 'patch', :html => {:class => 'form-horizontal', :role => 'form'} do |f|
  = render 'form', :f => f