%ol.breadcrumb
  %li=link_to 'Home', root_path
  %li.active Mes catégories de flux

=link_to 'Créer une catégorie', new_category_path, :class => 'btn btn-success'


%ol.categories
-create_category_navigation_tree(@categories)
