.container-fluid
  .row.footer
    .col-md-4
      Some footer information
    .col-md-4
      %ul.list-unstyled
        %li Blog
        %li About
        %li Contact
    .col-md-4
      Follow us on twitter, Facebook, Instagram